*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5;
    font-family: 'Noto Sans', sans-serif;
}
/* Colores
#4B5358 Gris
#FCFCFC Blanco
#fafa09 Amarillo
*/

    /* HEADER */
header{ 
    height: 90px;
    background-color:#252729 ;
    position: sticky;
    top: 0px;
}
.buscador{
    background-color: #252729;
    border-color:#4B5358;
}
.logo{
    width: 110px;
    height: 90px;
}
a{
    color: #fafa09;
    text-decoration: none;
}
.ul{
    display: flex;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    
}
    /* Main */
main{
    background-color: #252729;
}
.cotainerImgTienda{
    height: 550px;
    width: 100%;
}
.imgTienda{
    height: 100%;
    width: 100%;

}
h1{
    margin-top: 5px;
    text-align: center;
    background-color:black ;
    color: #fafa09;

}

.containerArticulo{
    border: 2px solid #fafa09;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 0px;
}
.imgcarta{
    width: 100%;
    height: 82%;
}
h2{
    text-align: center;
    background-color: #ededed;
    margin-bottom: 0px;
    height: 11%;
}
.a{
    text-align:center;
    background-color: #ededed;
    border: solid yellow 1px;
    height: 7%;
}
    /* FOOTER */
.containerfooter{
    height: 30px;
    background-color: #ededed;
    padding:10px;
}
.b{
    text-align:center;
    font-size: 17px;
    height: 100%;
}
    /* SobreNosotros */
.containerimgsn{
    height: 800px;
    width: 118rem;
    display: flex;
    justify-content: left;
}
.containerimgsn2{
    height: 800px;
    width: 118rem;
    display: flex;
    justify-content: right;
}
.imgsn{
    margin: 20px;
    height: 95%;
    width: 700px;
}
.parrafo{
    margin: 20px;
}

    /* Contacto */
.nombre{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    background-color:#252729;
}
.apellido{
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    background-color:#252729;
}
.containerlogoig{
    height: 85px;
    display: flex;
    justify-content: center;
}
.logoig{
    height: 100%;
}
@media (max-width: 766px){
    .ul{
        color:#fafa09;
        background-color: #252729;
        font-size: 100%;
        width: 25%;
        justify-content: center;
    }
}