*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5;
    font-family: 'Noto Sans', sans-serif;
}
/* Colores
#4B5358 Gris
#FCFCFC Blanco
#fafa09 Amarillo
*/

    /* HEADER */
header{ 
    height: 90px;
    background-color:#575c61 ;
    position: sticky;
    top: 0px;
    border: solid red 1px;
}
.logo{
    width: 90px;
    height: 70px;
}
    /* Main */
.red{
    color: red;
}
h1{
    text-align: center;
    background-color:black ;
    color: #fafa09;
}
.containerArticulo{
    border: 2px solid #fafa09;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 0px;
}
.imgcarta{
    width: 100%;
    height: 82%;
}
h2{
    text-align: center;
    background-color: #ededed;
    margin-bottom: 0px;
    height: 11%;
}
h3{
    text-align: center;
}
.c{
    text-align:center;
    background-color: #ededed;
    border: solid yellow 1px;
    height: 7%;
}
.center{
    display: flex;
    justify-content: center;
}
    /* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: #252729;
    display: grid;
    grid-template-columns: repeat(1 ,1fr);

}
.box{
    margin: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    color: #ededed;
    font-size: 20px;
    text-align: center;
}
.a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ededed;
    margin-right: 5px;
    background-color: #383b3d;
    text-align: center;
    transition: all 300ms ease;
    margin-bottom: 5px;
}
.a:hover{
    color: red;
}
.grupo-2{
    height: 40px;
    background-color: #313437;
    color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
}


    /* SobreNosotros */
.containerimgsn{
    height: 800px;
    width: 118rem;
    display: flex;
    justify-content: left;
}
.containerimgsn2{
    height: 800px;
    width: 118rem;
    display: flex;
    justify-content: right;
}
.imgsn{
    margin: 20px;
    height: 95%;
    width: 700px;
}
.parrafo{
    margin: 20px;
}

    /* Contacto */
.nombre{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    background-color:#ffffff;
}
.apellido{
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    background-color:#ffffff;
}
.parrafo{
    color: #ededed;
    text-align: center;
}
.containerlogoig{
    height: 85px;
    display: flex;
    justify-content: center;
}
.logoig{
    height: 100%;
}
@media (max-width: 766px){
    .ul{
        color:#fafa09;
        background-color: #252729;
        font-size: 100%;
        width: 25%;
        justify-content: center;
    }
}